// Responsive Typography
//
// / Viewport sized typography with minimum and maximum values
// / @param {Number}   $responsive  - Viewport-based size
// / @param {Number}   $min         - Minimum font size (px)
// / @param {Number}   $max         - Maximum font size (px)
// /                                  (optional)
// / @param {Number}   $fallback    - Fallback for viewport-
// /                                  based units (optional)
//
// / @example scss - 5vw font size (with 50px fallback), 
// /                 minumum of 35px and maximum of 150px
// /  @include responsive-font(5vw, 35px, 150px, 50px);
// /
=responsive-font($responsive, $min, $max: false, $fallback: false)
	$responsive-unitless: $responsive / ($responsive - $responsive + 1)
	$dimension: if(unit($responsive) == "vh", "height", "width")
	$min-breakpoint: $min / $responsive-unitless * 100

	@media (max-#{$dimension}: #{$min-breakpoint})
		font-size: $min

	@if $max
		$max-breakpoint: $max / $responsive-unitless * 100

		@media (min-#{$dimension}: #{$max-breakpoint})
			font-size: $max

	@if $fallback
		font-size: $fallback

	font-size: $responsive




// Media Queries for common devices
=mq($args...)
	$media-type: "only screen"
	$media-type-key: "media-type"
	$args: keywords($args)
	$expr: ""

	@if map-has-key($args, $media-type-key)
		$media-type: map-get($args, $media-type-key)
		$args: map-remove($args, $media-type-key)

	@each $key, $value in $args
		@if $value
			$expr: "#{$expr} and (#{$key}: #{$value})"

	@media #{$media-type} #{$expr}
		@content

=screen($min, $max, $orientation: false)
	+mq($min-width: $min, $max-width: $max, $orientation: $orientation)
		@content

=max-screen($max)
	+mq($max-width: $max)
		@content

=min-screen($min)
	+mq($min-width: $min)
		@content

=screen-height($min, $max, $orientation: false)
	+mq($min-height: $min, $max-height: $max, $orientation: $orientation)
		@content

=max-screen-height($max)
	+mq($max-height: $max)
		@content

=min-screen-height($min)
	+mq($min-height: $min)
		@content

=hdpi($ratio: 1.3)
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio), only screen and (min-resolution: #{round($ratio * 96)}dpi)
		@content

=hdtv($standard: "1080")
	$min-width: false
	$min-height: false

	$standards: ("720p", 1280px, 720px) ("1080", 1920px, 1080px) ("2K", 2048px, 1080px) ("4K", 4096px, 2160px)

	@each $s in $standards
		@if $standard == nth($s, 1)
			$min-width: nth($s, 2)
			$min-height: nth($s, 3)

	+mq($min-device-width: $min-width, $min-device-height: $min-height, $min-width: $min-width, $min-height: $min-height)
		@content

=iphone4($orientation: false)
	$min: 320px
	$max: 480px
	$pixel-ratio: 2
	$aspect-ratio: "2/3"

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation, $device-aspect-ratio: $aspect-ratio, $-webkit-device-pixel-ratio: $pixel-ratio)
		@content

=iphone5($orientation: false)
	$min: 320px
	$max: 568px
	$pixel-ratio: 2
	$aspect-ratio: "40/71"

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation, $device-aspect-ratio: $aspect-ratio, $-webkit-device-pixel-ratio: $pixel-ratio)
		@content

=iphone6($orientation: false)
	$min: 375px
	$max: 667px
	$pixel-ratio: 2

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation, $-webkit-device-pixel-ratio: $pixel-ratio)
		@content

=iphone6-plus($orientation: false)
	$min: 414px
	$max: 736px
	$pixel-ratio: 3

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation, $-webkit-device-pixel-ratio: $pixel-ratio)
		@content

=ipad($orientation: false)
	$min: 768px
	$max: 1024px

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation)
		@content

=ipad-retina($orientation: false)
	$min: 768px
	$max: 1024px
	$pixel-ratio: 2

	+mq($min-device-width: $min, $max-device-width: $max, $orientation: $orientation, $-webkit-device-pixel-ratio: $pixel-ratio)
		@content

=landscape
	+mq($orientation: landscape)
		@content

=portrait
	+mq($orientation: portrait)
		@content
