//import site settings
@import "_settings.sass"
@import "_media_queries"
//import custom ulkit components
@import "_uikit-variables-theme"
@import "_uikit"
//Import main sections of the site
@import "_header"
@import "_footer"
//Import partials
@import "partials/_forms"
//Import templates
@import "templates/_general"

html, body
	height: auto
	overflow-x: hidden
	width: 100%
	padding: 0
	margin: 0
	font-family: $font-family1
p
	padding: 4px
	margin: 0

//pulse animation
@-webkit-keyframes pulse
  0%
    -webkit-box-shadow: 0 0 0 0 rgba(212, 0, 88, 0.4)
  70%
      -webkit-box-shadow: 0 0 0 10px rgba(212, 0, 88, 0)
  100%
      -webkit-box-shadow: 0 0 0 0 rgba(212, 0, 88, 0)
@keyframes pulse
  0%
    -moz-box-shadow: 0 0 0 0 rgba(212, 0, 88, 0.4)
    box-shadow: 0 0 0 0 rgba(212, 0, 88, 0.4)
  70%
      -moz-box-shadow: 0 0 0 10px rgba(212, 0, 88, 0)
      box-shadow: 0 0 0 10px rgba(212, 0, 88, 0)
  100%
      -moz-box-shadow: 0 0 0 0 rgba(212, 0, 88, 0)
      box-shadow: 0 0 0 0 rgba(212, 0, 88, 0)

// Extend cuikit background classes
.uk-background-black
	background-color: $color-black
.uk-background-red
	background-color: $color-red
.uk-background-red-deep
	background-color: $color-red-deep
.uk-background-purple
	background-color: $color-purple
.uk-background-fuchia
	background-color: $color-fuchia
.uk-background-blue
	background-color: $color-blue
.uk-background-blue-deep
	background-color: $color-blue-deep
.uk-background-orange
	background-color: $color-orange
.content-width
	margin: 0 auto
	position: relative
	max-width: $grid-container
.content-width.outter
	max-width: $grid-container-outter
.content-width.inner
	max-width: $grid-container-inner

//general styling
.newsletter
	position: relative
	max-width: 285px
	input
		background: none
		border: solid 1px #fff
		width: 100%
		max-width: 255px
		height: 45px
		padding: 0 20px
		color: #fff	
	.submit-input
		position: absolute
		right: 0px
		top: 60px
		cursor: pointer
		z-index: 5
	.error
		display: block
		width: 100%
		left: 10px
		top: 115px
		color: #f0506e	

//autocomplete styling
#ui-id-1
	z-index: 999
	background: #fff
	max-width: 350px
	padding: 0
	border-left: solid 1px #acacac
	border-right: solid 1px #acacac
	overflow-y: scroll
	max-height: 500px
	li
		list-style-type: none
		margin: 0
		padding: 15px 20px
		border-bottom: solid 1px #acacac
		a
			color: $color-red-deep
			font-weight: 500
	&::-webkit-scrollbar
		width: 8px
		background:  #fff
	&::-webkit-scrollbar-thumb
		background: $color-red-deep
		border-radius: 3px 