section#form-box
	form
		position: relative
		label
			font-weight: 600
			position: absolute
			top: -12px
			left: 50px
			font-size: 16px
			z-index: 2
		label.error
			color: $color-red-deep
			top: 4vh
			font-size: 12px
		.captcha 
			label.error
				top: 7vh!important
		label#apply[captcha]-error
			top: 7vh
		input, textarea
			padding: 20px 15px
			font-size: 12px
		.select-wrapper
			background: #fff
			z-index: 1
			width: 100%
			font-size: 12px
			height: 40px
			position: relative
			button
				width: 100%
				text-align: left
				padding: 0 15px
				span.uk-icon
					position: absolute
					right: 10px
					top: 10px
//for tablet devices or bigger phones adjust the font sizes 
@include screen($breakpoint7, $breakpoint3)
	section#form-box
		form
			label
				font-weight: 600
				position: absolute
				top: -15px
				left: 50px
				font-size: 30px
			label.error
				top: 5vh
				font-size: 18px
			input, textarea
				padding: 25px 15px
				margin: 10px 0
				font-size: 18px
			.select-lists-wrapper
				margin: 30px 0!important
			.select-wrapper
				background: #fff
				z-index: 1
				width: 100%
				font-size: 12px
				height: 50px
				margin: 10px 0
				position: relative
				button
					width: 100%
					text-align: left
					padding: 10px 30px
					font-size: 16px
					span.uk-icon
						position: absolute
						right: 10px
						top: 10px
		form#apply
			label
				font-weight: 600
				position: absolute
				top: -15px
				left: 30px
				font-size: 30px